@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --muted: oklch(28.44% 0.02318 307.513);
  --accent: oklch(57.104% 0.25413 289.367);
  --radius: 0.15rem;
  --background: oklch(14.128% 0.00657 285.502);
  --foreground: oklch(75.804% 0.03234 302.072);
  --card: oklch(87.555% 0.026 305.695);
  --card-foreground: oklch(33.965% 0.01324 310.833);
  --popover: oklch(33.113% 0.02929 304.707);
  --popover-foreground: oklch(80.133% 0.12343 303.708);
  --primary: oklch(58.646% 0.29959 308.186);
  --primary-foreground: oklch(79.839% 0.08283 309.241);
  --secondary: oklch(32.709% 0.17733 297.305);
  --secondary-foreground: oklch(96.682% 0.01967 305.093);
  --muted-foreground: oklch(45.661% 0.04679 302.512);
  --accent-foreground: oklch(96.605% 0.01938 302.047);
  --destructive: oklch(57.039% 0.23003 22.519);
  --border: oklch(56.47% 0.28373 299.515);
  --input: oklch(51.086% 0.28356 281.908);
  --ring: oklch(52.076% 0.29302 290.984);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --running: oklch(29.211% 0.00911 294.924);
  --halted: oklch(54.89% 0.26484 286.778);
  --rejected: oklch(50.85% 0.20355 16.914);
  --error: oklch(63.106% 0.25463 22.804);
  --validated: oklch(81.345% 0.01922 306.454);
  --idle: oklch(78.602% 0.00873 301.025);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --running: oklch(90.288% 0.0561 301.189);
  --halted: oklch(53.663% 0.27163 285.776);
  --rejected: oklch(50.85% 0.20355 16.914);
  --error: oklch(63.106% 0.25463 22.804);
  --validated: oklch(81.345% 0.01922 306.454);
  --idle: oklch(78.602% 0.00873 301.025);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-running: var(--running);
  --color-halted: var(--halted);
  --color-rejected: var(--rejected);
  --color-error: var(--error);
  --color-validated: var(--validated);
  --color-idle: var(--idle);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
